# UyTop Mobile Konfiguratsiyasi
# Telefon va kompyuter bitta Wi-Fi ga ulanganda, kompyuteringizning LAN IP manzilini yozing:
EXPO_PUBLIC_API_URL=http://172.50.4.33:8000/api/v1

# Android emulator uchun alternativ:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:8000/api/v1
